<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saar</title>
</head>
<body>
    <form class="card" method="POST" action="/create">
        <section class="avatar" style="background : url(https://source.unsplash.com/collection/1652732/500x500) no-repeat center center /cover">
     
        </section>
        <section class="details">
              
        <h3>My new</h3>
        <div class="item">
           <div>Avatar URL</div>
           <input 
              type="url"
              name="avatar_url"
              placeholder="http://"
           >
        </div>
        <div class="item">
           <div>Nome do instrutor</div>
           <div><input 
              type="text"
              name="name"
              placeholder="Seu Nome"
           >
           </div>
        </div>
        <div class="item">
           <div>Ano de nascimento</div>
           <div><input 
              type="date"
              name="birth"
           ></div>
        </div>
     
     
        <div class="item">
           <div>Sexo</div>
           <div>
              <span><input type="radio" name="gender" value="M" checked>Masculino</span>
              <span><input type="radio" name="gender" value="F">Feminino</span>
           </div>
        </div>
     
           <div class="item">
              <div>Area de atuacao</div>
              <div>
                 <input type="text" name="services"placeholder="Digite aqui">
                 
              </div>
           </div>
      
        <button type="submit">Salvar</button>
     
           </section>
     </form>

</body>
<style>
    h1{
        color: red;
    }
</style>
</html>